{{ define "main" }}
<!-- mostrar categorias -->
<!-- mostrar tags -->

 <section class="blog">
      <h1>{{ .Title }}</h1>
      
      <!-- Filtra posts  -->
      {{- $pages := .Pages }}
      
      <!-- Agrupa posts por ano de publicação -->
      {{- range $pages.GroupByPublishDate "2006" }}
      {{- if ne .Key "0001" }}
      <div class="blog__year">
        {{- $year := replace .Key "0001" "" }}
        <h2 id="{{ $year }}">
            {{- $year -}}
          <sup>&nbsp;{{ len .Pages }}</sup>
        </h2>
        <!-- Agrupa posts do ano por mês -->
        {{- range .Pages.GroupByDate "01" }}
        <div class="blog__month">
          {{- $monthKey := printf "%02d" (int .Key) }}
          <h3 class="blog__month--header" id="{{ $year }}-{{ $monthKey }}">
              {{ i18n (printf "month_%s" $monthKey) }}
            <sup>&nbsp;{{ len .Pages }}</sup>
          </h3>
          <div class="blog__post">
            {{- range .Pages }}
            {{- if eq .Kind "page" }}
            <div class="blog__entry">
              <h5>
                <a href="{{ .Permalink }}">
                     {{- .Title | markdownify }}
                </a>
              </h5>
              <p>{{ dateFormat "January 02, 2006" .Date }}</p>
            </div>
            {{- end }}
            {{- end }}
          </div>
        </div>
        {{- end }}
      </div>
      {{- end }}
      {{- end }}
 </section>


{{ end }}